.navbar ul li{
    transform: skewX(-23deg);
    border-right-color: #6aadd9;
    cursor: pointer;
}

.navbar ul li:hover{
    color:#6aadd9;
 }


.navbar ul li a{
    transform: skewX(23deg);
}
.custom-shape-divider-bottom-1685549033 {
    position: relative;
    bottom:0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1685549033 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20px;
}

.custom-shape-divider-bottom-1685549033 .shape-fill {
    fill: black;
}
.addresses{
    margin-left: 15em;
    margin-right: 3em;
}
.location-pin{
    background: rgb(39,138,205);
background: linear-gradient(150deg, rgba(39,138,205,1) 0%, rgba(106,173,217,1) 40%, rgba(118,203,158,1) 59%);
}
.contact-section{
    background: rgb(39,138,205);
    background: linear-gradient(150deg, rgba(39,138,205,1) 0%, rgba(106,173,217,1) 40%, rgba(118,203,158,1) 59%);
    height:100vh;   
}

/* .contact-section{
    background-color: #f2f2f2;
} */


.submit-btn::before,
.submit-btn::after{
    content:" ";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 5px solid;
    transition: all 0.6s ease;
    border-radius: 2px;

}

.submit-btn::after{
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: white;
      border-right-color: white;
}

.submit-btn::before{
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: white;
      border-left-color: white;
}
    .submit-btn:hover:after,
    .submit-btn:hover:before{
      width: 100%;
      height: 100%;
    }

    .services h3::after{
        content: '';
        position: absolute;
        width:16%;
        height:2px;
        display: block;
        border: 3px solid;
        transition: all 0.6s ease;
    }

    .about h3::after{
        content: '';
        position: absolute;
        width:13%;
        height:2px;
        display: block;
        border: 3px solid;
        transition: all 0.6s ease;
    }

    .officess h3::after{
        content: '';
        position: absolute;
        width:11%;
        height:2px;
        display: block;
        border: 3px solid;
        transition: all 0.6s ease;
    }

    .services h3:hover:after
    {
        width:35%;
    }

    .about h3:hover::after{
        width:27%;
    }
    
    .officess h3:hover::after{
        width:24%;
    }