.navbar ul li{
    transform: skewX(-23deg);
    border-right-color: #6aadd9;
    cursor: pointer;
}
 .navbar ul li:hover{
    color:#6aadd9;
 }

 .navbarr ul li:hover{
    color:#6aadd9;
 }
.navbar ul li a{
    transform: skewX(23deg);
}

/* .landing-page{
    height:85vh;
    background: rgb(39,138,205);
background: linear-gradient(150deg, rgba(39,138,205,1) 0%, rgba(106,173,217,1) 40%, rgba(118,203,158,1) 59%);
} */

.title h1{
    font-size: 50px;
}
.title h3{
    font-size:30px;
}



.hero-img , .hero-img img{
    border-top-left-radius:11em ;
    border-bottom-left-radius: 11em;
    width:40em;
    
}
.hero-img{
    height:25em;
    position: absolute;
    right: 0%;
    width:40em;
}
.title {
    transform: skewX(-30deg);
}
.title h1, .title h3, .support-btn{
    transform: skewX(30deg);
}

.support-btn::before,
.support-btn::after{
    content:" ";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 5px solid;
    transition: all 0.6s ease;
    border-radius: 2px;

}

.support-btn::after{
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: #059f4b;
      border-right-color: #059f4b;
}

.support-btn::before{
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: #059f4b;
      border-left-color: #059f4b;
}
    .support-btn:hover:after,
    .support-btn:hover:before{
      width: 100%;
      height: 100%;
    }

.services1 img{
    width:4em;
    border-radius: 70%;
}
.partner-section
{
    background-color: #f2f2f2;
}


.about-btn::before,
.about-btn::after{
    content:" ";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 5px solid;
    transition: all 0.6s ease;
    border-radius: 2px;

}

.about-btn::after{
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: rgba(39,138,205,1);
      border-right-color: rgba(39,138,205,1);
}

.about-btn::before{
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: rgba(39,138,205,1);
      border-left-color: rgba(39,138,205,1);
}
    .about-btn:hover:after,
    .about-btn:hover:before{
      width: 100%;
      height: 100%;
    }
.blog-img img{
    width:12em;
    height:12em;
   
    
}
.blogs-pages{
    background: rgb(39,138,205);
background: linear-gradient(150deg, rgba(39,138,205,1) 0%, rgba(106,173,217,1) 40%, rgba(118,203,158,1) 59%);
}


.read-btn::before,
.read-btn::after{
    content:" ";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 5px solid;
    transition: all 0.6s ease;
    border-radius: 2px;

}

.read-btn::after{
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: white;
      border-right-color: white;
}

.read-btn::before{
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: white;
      border-left-color: white;
}
    .read-btn:hover:after,
    .read-btn:hover:before{
      width: 100%;
      height: 100%;
    }

    .services h3::after{
        content: '';
        position: absolute;
        width:16%;
        height:2px;
        display: block;
        border: 3px solid;
        transition: all 0.6s ease;
    }

    .logo h3::after{
        content: '';
        position: absolute;
        width:4%;
        height:2px;
        display: block;
        border: 3px solid;
        transition: all 0.6s ease;
    }

    .officess h3::after{
        content: '';
        position: absolute;
        width:11%;
        height:2px;
        display: block;
        border: 3px solid;
        transition: all 0.6s ease;
    }

    .services h3:hover:after
    {
        width:35%;
    }

    .logo h3:hover::after{
        width:11%;
    }
    
    .officess h3:hover::after{
        width:21%;
    }
    @media screen and (max-width:768px){
        .title {
            transform: skewX(0deg);
        }
        .title h1, .title h3, .support-btn{
            transform: skewX(0deg);
        }
        
    }

    @media screen and (max-width:640px){
        
.title h1{
    font-size: 35px;
}
.title h3{
    font-size:24px;
}
    }
    
